.button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  --button-opacity: 0.5;
}

.button:focus,
.button:hover {
  opacity: var(--button-opacity);
}

.icon {
  font-size: inherit;
}
