.track {
  display: grid;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.1s linear;

  grid-template-columns: auto 1fr;
  align-items: stretch;
  gap: 1rem;
}

.track:hover,
.track:focus-visible {
  -webkit-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  -moz-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  outline: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  max-width: 100%;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.active {
  border: 3px solid purple;
  transform: scale(1.05);
  transition: all 0.2s linear;
  box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
}

.trackBox {
  height: 65px;
  width: 65px;
  aspect-ratio: 1/1;
  background-color: purple;
  border-radius: 15%;
}
