.track {
  display: grid;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.2s linear;

  grid-template-columns: auto 1fr;
  align-items: stretch;
  gap: 1rem;

  &:is(:hover, :focus) {
    box-shadow: var(--box-shadow-active);
    outline: none;
  }

  &.active {
    border: 2px solid var(--color-primary);
    transform: scale(1.02);
    background-color: rgb(239, 232, 255);
    transition: all 0.2s linear;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  max-width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.trackBox {
  $box-size: 4rem;

  width: $box-size;
  height: $box-size;
  aspect-ratio: 1 / 1;
  background-color: var(--color-primary);
  border-radius: 15%;
}
