.track {
  display: grid;
  width: 100%;
  padding: 0.5rem;
  transition: all 0.2s linear;

  grid-template-columns: auto 1fr;
  align-items: stretch;
  gap: 1rem;
}

.track:hover,
.track:focus {
  box-shadow: var(--box-shadow-active);
  outline: none;
}

@supports selector(:focus-visible) {
  .track:focus {
    box-shadow: none;
  }

  .track:hover {
    box-shadow: var(--box-shadow-active);
  }

  .track:focus-visible {
    box-shadow: var(--box-shadow-active);
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  max-width: 100%;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.active {
  border: 3px solid purple;
  transform: scale(1.05);
  transition: all 0.2s linear;
  box-shadow: var(--box-shadow-active);
}

.trackBox {
  --box-size: 65px;
  width: var(--box-size, 65px);
  height: var(--box-size, 65px);
  aspect-ratio: 1/1;
  background-color: purple;
  border-radius: 15%;
}
