.track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: transparent;
}

.track:hover,
.track:focus-visible {
  -webkit-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  -moz-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
}

.info {
  flex-basis: 100%;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  overflow: hidden;
}

.innerBox {
  flex-grow: 0;
}

.text {
  max-width: 100%;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  line-height: 1.5;
}

.active {
  border: 3px solid purple;
  transform: scale(1.05);
  transition: all 0.2s linear;
  -webkit-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  -moz-box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
  box-shadow: 0px 0px 13px 10px rgba(128, 0, 255, 0.22);
}

.trackBox {
  height: 65px;
  width: 65px;
  min-width: 65px;
  background-color: purple;
  border-radius: 15%;
}
