.button {
  padding: 1em;
  background-color: white;
  border: 2px solid black;
  transition: all 0.2s linear;
}

.button:hover,
.button:focus {
  box-shadow: var(--box-shadow-active);
  outline: none;
}

@supports selector(:focus-visible) {
  .button:focus {
    box-shadow: none;
  }

  .button:hover {
    box-shadow: var(--box-shadow-active);
  }

  .button:focus-visible {
    box-shadow: var(--box-shadow-active);
  }
}
