@use '../../Player.module';

.controls {
  display: grid;
  grid-auto-flow: column;
  gap: 0.6rem;

  @media (max-width: Player.$breakpoint-1) {
    grid-row: 1;
    grid-column: 3;
  }

  @media (max-width: Player.$breakpoint-2) {
    grid-column: 4;
  }
}

.arrow {
  font-size: 1.6rem;
}

.inverse {
  transform: rotate(180deg);
}
