.container {
  max-width: 87rem;
  min-height: 100%;
  margin: 0 auto;
  background: white;
  margin-top: var(--container-margin-block);
  margin-bottom: var(--container-margin-block);
  padding-top: var(--container-padding-block);
  padding-bottom: var(--container-padding-block);
  box-shadow: 0px 0px 41px 25px rgba(34, 60, 80, 0.3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
