.box {
  --box-size: 60px;
  background-color: gainsboro;
  width: var(--box-size, 60px);
  aspect-ratio: 1 / 1;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: calc(var(--box-size, 60px) / 2);
}
