@use 'src/app' as *;

.button {
  padding: 1rem;
  background-color: white;
  border: 1px solid var(--color-ghost-border);
  border-radius: 0.5rem;
  transition-property: color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:is(:hover, :focus) {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:focus-visible {
    @include default-outline(true);
  }
}
