.block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-bottom: 1.5em;
  font-size: 1.4rem;
  font-weight: 600;
}
