.infoInnerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-right: 30px;
  width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.progressBar {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 760px) {
  .info {
    width: 100%;
  }
}
