.info {
  overflow: hidden;
  width: 300px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

@media (max-width: 850px) {
  .info {
    width: 100%;
    grid-row: 2;
    grid-column: 1 / 5;
  }
  .box {
    width: 100%;
  }
  .title {
    width: 100%;
  }
}
