.controls {
  display: flex;
  gap: 20px;
}

.controlsBox {
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.musicImage {
  display: none;
}

@media (max-width: 730px) {
  .controlsBox {
    justify-content: center;
  }

  .musicImage {
    display: block;
  }
}
