.rewindControls {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus-visible,
.button:hover {
  opacity: 0.5;
}

@media (max-width: 790px) {
  .toggleButton {
    grid-row: 1;
  }
  .rewindControls {
    grid-row: 1;
    grid-column: 3;
  }
}

.arrow {
  width: 50%;
}

.inverse {
  transform: rotate(180deg);
}
