.controls {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

@media (max-width: 790px) {
  .controls {
    grid-row: 1;
    grid-column: 3;
  }
}

.arrow {
  font-size: 25px;
}

.inverse {
  transform: rotate(180deg);
}
