.label {
  --focus-bg-color: rgb(237, 237, 237);
  --focus-border-color: var(--color-primary);

  padding: 1rem;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0.5rem;
  display: block;
  transition: 0.2s border ease;

  max-width: 300px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label:hover {
  background-color: var(--focus-bg-color);
  border-color: var(--focus-border-color);
}

.label:focus-within {
  background-color: var(--focus-bg-color);
  border-color: var(--focus-border-color);
  outline: 1px solid var(--focus-border-color);
  outline-offset: 2px;
}

.input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
