@use '../../styles/breakpoints.scss';

.controls {
  display: grid;
  grid-auto-flow: column;
  gap: 0.6rem;

  @media (max-width: breakpoints.$tablet) {
    grid-row: 1;
    grid-column: 3;
  }

  @media (max-width: breakpoints.$mobile) {
    grid-column: 4;
  }
}

.arrow {
  font-size: 1.6rem;

  &.inverse {
    transform: rotate(180deg);
  }
}
