._lock {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: white;
  border-radius: 0.5rem;

  word-break: break-word;

  min-width: 20rem;
  min-height: 16rem;
  max-height: 100%;

  @supports (hyphens: auto) {
    hyphens: auto;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9;

  background-color: rgba(0, 0, 0, 0.7);
}
