.playlist {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.3rem;

  border-radius: 0.5rem;
  border: 1px solid gainsboro;

  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 1.4rem;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.search {
  margin-bottom: 2rem;
  width: 100%;
}
