@use '../../styles/breakpoints.scss';

.toggle {
  font-size: 3rem;

  @media (max-width: breakpoints.$mobile) {
    grid-row: 3;
    grid-column: 4 / 5;
  }
}

.active {
  color: var(--color-primary);
}
