.player {
  max-width: 800px;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  position: sticky;
  z-index: 50;
  top: 0;
  background-color: #fff;
}

@media (max-width: 760px) {
  .player {
    margin-top: 0px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 5px;
  }

  .musicImage {
    display: none;
  }
}
