.player {
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid gainsboro;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  gap: 1rem;
  margin-bottom: 30px;
}

@media (max-width: 790px) {
  .player {
    margin-top: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-rows: 3 auto;
    justify-items: center;
  }
  .musicImage {
    grid-row: 1;
    grid-column: 1;
  }
}
