$box-size: 4rem;

.box {
  background-color: gainsboro;

  width: $box-size;
  height: $box-size;
  aspect-ratio: 1 / 1;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: ($box-size / 2);
}
